version: "2"
services:
  mongo:
    image: mongo:3
    restart: always
    volumes:
      - /var/lib/mongo
    command: --smallfiles

  mariadb:
    image: mariadb:10
    restart: always
    volumes:
      - /var/lib/mariadb
    environment:
      MYSQL_DATABASE: nbi
      MYSQL_PASSWORD: toto
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_USER: rene
# APP  ***************************************************************************************
  nbi:
    image: nexus3.onap.org:10001/onap/externalapi/nbi:latest
    ports:
    - 8080:8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/nbi
      SPRING_DATASOURCE_PASSWORD: toto
      SPRING_DATASOURCE_USERNAME: rene
      SPRING_DATA_MONGODB_HOST: mongo
      SPRING_SDC_HOST: ${SDC_IP}
      SPRING_AAI_HOST: ${AAI_IP}
      SPRING_SO_HOST: ${SO_IP}
    depends_on:
    - mariadb
    - mongo
volumes:
  mariadb:
  mongo:
