#
#     Copyright (c) 2018 Orange
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
#

version: "2.1"
services:
  mongo:
    image: mongo:latest
    restart: always
    volumes:
      - /var/lib/mongo
    command: --smallfiles

  mariadb:
    image: mariadb:latest
    restart: always
    volumes:
      - /var/lib/mariadb
    environment:
      MYSQL_DATABASE: nbi
      MYSQL_PASSWORD: toto
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_USER: rene
  # APP  ***************************************************************************************
  nbi:
    image: ${NEXUS_DOCKER_REPO}/onap/externalapi/nbi:${DOCKER_IMAGE_VERSION:-latest}
    ports:
      - 8080:8080
      - 8443:8443
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://mariadb:3306/nbi
      SPRING_DATASOURCE_PASSWORD: toto
      SPRING_DATASOURCE_USERNAME: rene
      SPRING_DATA_MONGODB_HOST: mongo
      SDC_HOST: http://${SDC_IP}:8080
      AAI_HOST: https://${AAI_IP}:8443
      SO_HOST: http://${SO_IP}:8080
    restart: on-failure
    depends_on:
      - mariadb
      - mongo
volumes:
  mariadb:
  mongo:
