[access]
	inheritFrom = All-Projects
[project]
	description = ARCHIVED- 2022-02-15 at the request of the project\nIssue ID: IT-23624\n\nInitial Code for External API Northbound (Legato) agent.
	state = read only
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-externalapi-nbi-committers
[plugin "its-jira"]
	enabled = true
